* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//  COLORES

$bg-color--grey: #222222;
$color--blue: #26859d;
$color--white: #ffffff;
$color--light-grey: #717070;
$color--dark-grey: #444;

// FUENTES
// $font-main: 'Roboto', sans-serif;
@font-face {
  font-family: 'Okine';
  src: url('../fonts/Okine.ttf') format('truetype');
}
$font-main: 'Okine', sans-serif;
