@import './App';
.home {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color--grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    justify-content: space-evenly;
  }

  &__name {
    color: $color--white;
    font-family: $font-main;
    font-size: 34px;
    text-align: center;
    width: 80%;
    @media all and (min-width: 768px) {
      font-size: 54px;
    }
  }
  &__job {
    margin-top: 20px;
    color: $color--light-grey;
    font-family: $font-main;
    font-size: 22px;
    text-align: center;
    @media all and (min-width: 768px) {
      font-size: 34px;
    }
  }
  &__containerArrows {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 150px;
    bottom: 30px;
    right: 30px;
    border: 2px solid $color--blue;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  //   @media all and (min-width: 768px) {
  //     display: none;
  //   }
}
.iconMenu {
  color: $color--white;
  background-color: $color--blue;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  padding: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
}
.fa-solid {
  color: $color--white;
  padding: 15px;
}

.hidden {
  display: none;
  z-index: -1;
}
