@import './App';
.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color--dark-grey;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  transition: transform 0.7s ease;
  transform: translateX(100%);
  background-color: $color--dark-grey;
  z-index: 2;

  &__img {
    margin-top: 40px;
    width: 160px;
    object-fit: cover;
    object-position: center;
    border-radius: 45%;
    transition: transform 0.2s;
  }
  &__img:hover {
    transform: scale(1.1);
  }
  &__name {
    padding-top: 10px;
    margin-bottom: 10px;
    color: $color--light-grey;
    font-family: $font-main;
    font-size: 30px;
    text-align: center;
    width: 80%;
  }
  &__nav {
    font-family: $font-main;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__li {
    padding: 30px;
    list-style: none;
    color: $color--light-grey;
  }
}
.SectionDetail-link {
  text-decoration: none;
  color: $color--white;
}
.SectionDetail-link:hover {
  color: $color--blue;
}
.fa-solid {
  color: $color--white;
  padding: 15px;
}

.hidden {
  display: none;
  z-index: 2;
}
.menu.open {
  transform: translateX(0%);
  z-index: 2;
}
.iconMenu {
  color: $color--white;
  background-color: $color--blue;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  padding: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
}
